<template>
  <div>
    <h3>Error!</h3>
    <p>
      何か問題が発生したようです。
    </p>
    <p>
      <router-link :to="`/${lang}/`">トップに戻る</router-link>
    </p>
  </div>
</template>

<script>
export default {
  name: 'Error',
  computed: {
    lang() {
      return this.$route.params.lang
    },
  },
}
</script>

<style>

</style>