<template>
  <div class="toast-quick-restore">
    <div>
      {{ $t('message.backupFound') }}
    </div>
    <div>
      <button type="button"
        class="btn"
        @click.stop="$emit('quick-restore')">
        {{ $t('label.restore') }}
      </button>      
    </div>
  </div>
</template>
<script>
import BaseToastContent from './BaseToastContent.vue'

export default {
  name: "ToastQuickRestore",
  extends: BaseToastContent
}
</script>
<i18n>
{
  "en": {
    "message": {
      "backupFound": "The recently saved backup was found."
    },
    "label": {
      "restore": "Restore"
    }
  },
  "ja": {
    "message": {
      "backupFound": "最近保存されたバックアップが見つかりました。"
    },
    "label": {
      "restore": "復元"
    }
  }
}
</i18n>
