/* In your CSS */
:root {
  --primary-color: #9c009c;
  --primary-HS: 300, 100%;
  --primary-HSL: 300, 100%, 31%;
}

.btn.btn-sdm-primary {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn.btn-sdm-primary:hover {
  color: white;
  background-color: hsl(var(--primary-HS), 26%);
  border-color: hsl(var(--primary-HS), 24%);
}

.btn.btn-sdm-primary:focus {
  color: white;
  background-color: hsl(var(--primary-HS), 26%);
  border-color: hsl(var(--primary-HS), 24%);
  box-shadow: 0 0 0 0.2rem hsla(var(--primary-HSL), 30%);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
